body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://i.imgur.com/aUfZUjq.jpeg');
    background-size: cover;
}


.banner{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://i.imgur.com/c8yAdct.png');
    background-size: cover;
    h1 {
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
}
